################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
/packages
/examples/ColorfulEditor/.vs/ColorfulEditor/v16
/examples/ColorfulEditor/ColorfulEditor/bin/Debug
/examples/ColorfulEditor/ColorfulEditor/obj/Release
/examples/ColorfulEditor/ColorfulEditor/obj/Debug
/Reference_Services/Reference.Services/bin/Debug
/Reference_Services/Reference.Services/obj/Debug
/Reference_Services/Reference.Services.Interfaces/bin/Debug
/Reference_Services/Reference.Services.Interfaces/obj/Debug
/Reference_Services/.vs/Reference.Services
/Reference_Services/packages
/TestFiles/.vs
/Reference_Services/Reference.Services.Interfaces/obj/Release
/Reference_Services/Reference.Services/obj/Release/Reference.Services.csprojAssemblyReference.cache
/AddedExtensionProjectTemplates/LiteX/obj
/AddedExtensionProjectTemplates/ProjectTemplate-LiteX/obj
/AddedExtensionProjectTemplates/Verilog Project/.vs/Verilog Project
/AddedExtensionProjectTemplates/Verilog Project/obj
/AddedExtensionProjectTemplates/Verilog Project/relentless.log
/VSIXInstaller_fb718dba-862e-4471-9b6b-e03e275879ee.log
/Example-Projects/Verilog45
/AddedExtensionProjectTemplates/Verilog Project/bin
