BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

# Minimal ULX4M constraints for the VLE blink template.
# The clock and LED locations follow the public ULX4M-LS v0.0.2 LPF
# convention used by lawrie/ulx4m_examples. The template intentionally
# constrains only the 25 MHz clock and four module LEDs.

LOCATE COMP "clk_25mhz" SITE "G2";
IOBUF PORT "clk_25mhz" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_25mhz" 25 MHZ;

SYSCONFIG CONFIG_IOVOLTAGE=3.3 COMPRESS_CONFIG=ON MCCLK_FREQ=62 SLAVE_SPI_PORT=DISABLE MASTER_SPI_PORT=ENABLE SLAVE_PARALLEL_PORT=DISABLE;

LOCATE COMP "led[3]" SITE "C1";
LOCATE COMP "led[2]" SITE "B3";
LOCATE COMP "led[1]" SITE "B1";
LOCATE COMP "led[0]" SITE "B2";

IOBUF PORT "led[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "led[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
